.mainContainer {
  margin: 3%;
  padding: 20px;
  border: 2px solid black;
}

.coverIMG {
  max-width: 600px;
  max-height: 600px;
}

.footer {
  background-color: #212529;
  text-align: center;
  padding: 5px;
}

.footer p {
  color: #007bff;
}
